body{
    width: 500px;
}

h1{
    text-align: center;
}

.main-area{
    display: flex;
    flex-direction: column;
}

.metric-chooser{
    display: flex;
    justify-content: space-around;
}

.metric{
    padding : 20px;
    background-color : grey;
    border-radius: 30px;
    color : white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.metric[data-state='active']{
    background-color: rgb(63, 157, 240);
    color : black;
}